[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ecospat"]
	path = ecospat
	url = https://github.com/ecospat/ecospat
	subdir = ecospat
